<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Movie Page</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body class="newPage">
    <h1>New Movie Page</h1>
        <form action="/movies" method="POST">
            Title: <input type="text" name="title"> <br>
            Director: <input type="text" name="director"> <br>
            Genres: <br>
             <input type="checkbox" name="genre" value="Action">Action <br>
             <input type="checkbox" name="genre" value="Thriller">Thriller <br>
             <input type="checkbox" name="genre" value="Mystery">Mystery<br>
             <input type="checkbox" name="genre" value="Comedy">Comedy <br>
             <input type="checkbox" name="genre" value="Horror">Horror<br>
             <input type="checkbox" name="genre" value="Drama">Drama<br>
             <input type="checkbox" name="genre" value="Fantasy">Fantasy<br>
             <input type="checkbox" name="genre" value="Sci-Fi">Sci-Fi<br>
             <input type="checkbox" name="genre" value="Documentary">Documentary<br>
            Rating(1-10): <input type="number" name="rating"> <br>
            Image(url): <input type="text" name="image"> <br>
            Would Watch Again: <input type="checkbox" name="watchAgain"> <br>
            <input type="submit" name="" value="Create Movie">
        </form>
    
</body>
</html>